@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem; */
  --font-primary: "Urbanist", "sans-serif";
  --font-secondary: "Inter", "sans-serif";

  --color-light-primary: #18f115;
  --color-light-secondary: #71f7a130;
  --color-light-background: #f9fff9;
  --color-light-text: #011801;

  /* FOR DARK THEME */
  --color-dark-primary: #11ec0e;
  --color-dark-secondary: #0a1512;
  --color-dark-background: #000500;
  --color-dark-text: #e7fee7;

  /* ... */
}


a.active{
    border-bottom: 2px solid #18f115;
    
    padding-bottom: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');


.hind-siliguri {
  font-family: "Hind Siliguri", sans-serif;
  
  font-style: normal;
}




.gradient-bg{
  
  background: linear-gradient(to bottom right,  #0f0824, #1f0629, #330435) !important;
  font-size: 20px;
}
.error-gradient-bg{
  
  background: linear-gradient(to bottom right,  #420000, #8a0001, #fb0000) !important;
  font-size: 20px;
}


/* swiper js  */

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    right:10px;
    padding: 30px;
    color: #18f115 !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 50%;
    font-size: 30px !important;
}




.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  font-weight: bold;
  
}




.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #18f115;
  color: white !important;
  transition: .3s;
  transform: scale(1.15); /* slight zoom on hover */
}









/* sweet alert custom background color */
.gradient-bg{
  
  background: linear-gradient(to bottom right,  #18f115,  #71f7a130) !important;
  font-size: 20px;
}
.error-gradient-bg{
  
  background: linear-gradient(to bottom right,  #ac0000, #dc2430, #fb0000) !important;
  font-size: 20px;
}


.premium-bg{
  background: linear-gradient(to bottom right,  #C02425, #F0CB35) !important;
  font-size: 20px;
}
.make-bg{
  background: linear-gradient(to bottom right,  #AA076B, #61045F) !important;
  font-size: 20px;
}